[Desktop Entry]
Version=1.0
Type=Application
Name=Shellwatch
Comment=Watch shell variables through script execution
GenericName=Shell variable assignment tracker
TryExec=shellwatch.jar
Exec=shellwatch.jar
Icon=utilities-terminal
Categories=Development;
Keywords=shellwatch;shell;watch;
StartupNotify=true
X-GNOME-UsesNotifications=false
Name[en_US]=Shellwatch.desktop
