Source: shellwatch
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: utils

Package: shellwatch
Version: 1.0
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: all
Depends: bash, yad
Description: Step shell scripts and keep watch on variable assignments
 Shellwatch keeps track of variable assignments throughout the execution of a given script
